<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body> <!--data-spy="scroll" data-target=".navbar" data-offset="50"-->
<!--<div class="container">
    <nav class="navbar navbar-expand-sm bg-secondary navbar-dark fixed-top">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop1" data-toggle="dropdown">
                    Изменения вносимые в таблицу книг
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="addBook.html">Добавление книги</a>
                    <a class="dropdown-item" href="#section12">Изменения книги</a>
                    <a class="dropdown-item" href="#section13">Удаление книги</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop2" data-toggle="dropdown">
                    Варианты поиска
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="getAll.html">Вывод всех книг</a>
                    <a class="dropdown-item" href="#section21">Поиск по ID</a>
                    <a class="dropdown-item" href="#section22">Поик по автору</a>
                    <a class="dropdown-item" href="#section22">Поиск по названию</a>

                </div>
            </li>
        </ul>
    </nav>
</div>-->
<div class="container mt-5">
    <form method="post" enctype="multipart/form-data" th:action="@{/addBook}">
        <div class="form-group">
            <label for="title">Наименование книги</label>
            <input type="text" class="form-control" id="title" placeholder="Spring in Action" name="title">
        </div>
        <div class="form-group">
            <label for="author">ФИО автора</label>
            <input type="text" class="form-control" id="author" placeholder="Kreg" name="author">
        </div>
        <div class="form-group">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn" placeholder="978-0131872486" name="isbn">
        </div>
        <div class="form-group">
            <label for="print_year">Год выпуска книги</label>
            <input type="text" class="form-control" id="print_year" placeholder="2017" name="print_year">
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <input type="text" class="form-control" id="description" placeholder="New book" name="description">
        </div>
        <div class="form-check form-group">
           <label class="form-check-label">
               <input type="checkbox" class="form-check-input" name="read_already">Прочитано
            </label>
        </div>

        <button type="submit" class="btn btn-primary">Создать книгу</button>
    </form>
</div>



<div class="container mt-5" >
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название книги</th>
                <th>Автор</th>
                <th>ISBN</th>
                <th>Год выпуска</th>
                <th>Прочитано</th>
                <th>Описание книги</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.getId()}"></td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td th:text="${book.getIsbn()}"></td>
                <td th:text="${book.getPrint_year()}"></td>
                <td th:text="${book.isRead_already()}"></td>
                <td th:text="${book.getDescription()}"></td>
            </tr>
        </tbody>
    </table>
</div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>

</body>
</html>
