<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Book main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

   <!-- <link rel = "stylesheet" href = " webjars/bootstrap/4.0.0-2/css/bootstrap.min.css">-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>


<div class="dropdown">
    <button class="btn btn-outline-secondary" id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Добавление
    </button>
    <div class="dropdown-menu container" aria-labelledby="dLabel">

        <form method="post" enctype="multipart/form-data" th:action="@{/addBook}">
            <div class="form-group">
                <label for="title">Наименование книги</label>
                <input type="text" class="form-control" id="title" placeholder="Spring in Action" name="title">
            </div>
            <div class="form-group">
                <label for="author">ФИО автора</label>
                <input type="text" class="form-control" id="author" placeholder="Kreg" name="author">
            </div>
            <div class="form-group">
                <label for="isbn">ISBN</label>
                <input type="text" class="form-control" id="isbn" placeholder="978-0131872486" name="isbn">
            </div>
            <div class="form-group">
                <label for="print_year">Год выпуска книги</label>
                <input type="text" class="form-control" id="print_year" placeholder="2017" name="print_year">
            </div>
            <div class="form-group">
                <label for="description">Описание</label>
                <input type="text" class="form-control" id="description" placeholder="New book" name="description">
            </div>
            <div class="form-check form-group">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="read_already">Прочитано
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Создать книгу</button>
        </form>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-outline-secondary" id="dLabel2" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Изменение
    </button>
    <div class="dropdown-menu container" aria-labelledby="dLabel">

        <form data-th-method="put" enctype="multipart/form-data" th:action="@{/updateBook}">
            <div class="form-group">
                <label for="id_update">ID книги</label>
                <input type="text" class="form-control" id="id_update" name="id">
            </div>
            <div class="form-group">
                <label for="title_update">Наименование книги</label>
                <input type="text" class="form-control" id="title_update" placeholder="Spring in Action" name="title">
            </div>
            <div class="form-group">
                <label for="isbn_update">ISBN</label>
                <input type="text" class="form-control" id="isbn_update" placeholder="978-0131872486" name="isbn">
            </div>
            <div class="form-group">
                <label for="print_year_update">Год выпуска книги</label>
                <input type="text" class="form-control" id="print_year_update" placeholder="2017" name="print_year">
            </div>
            <div class="form-group">
                <label for="description_update">Описание</label>
                <input type="text" class="form-control" id="description_update" placeholder="New book" name="description">
            </div>
            <div class="form-check form-group">
                <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="read_already">Прочитано
                </label>
            </div>

            <button type="submit" class="btn btn-primary">Изменить книгу</button>
        </form>
    </div>
</div>

<div class="dropdown">
    <button class="btn btn-outline-secondary" id="dLabel3" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Удаление
    </button>
    <div class="dropdown-menu container" aria-labelledby="dLabel">

        <form   data-th-method="delete" enctype="multipart/form-data" th:action="@{/deleteBook} ">
            <div class="form-group">
                <label for="id_delete">ID книги</label>
                <input type="text" class="form-control" id="id_delete" name="id">
            </div>
            <button type="submit" class="btn btn-primary" value = "Delete">Удалить книгу</button>
        </form>
    </div>
</div>

<div>
    <form method="get" enctype="multipart/form-data" th:action="@{/}" class="input-group mb-3 mt-2">
        <input name="id" type="text" class="form-control" placeholder="1" aria-label="Recipient's username"
               aria-describedby="basic-addon2">
        <input name = "title" type="text" class="form-control" placeholder="Spring in Action"
               aria-label="Recipient's username" aria-describedby="basic-addon2">
        <input name = "author" type="text" class="form-control" placeholder="Kreg"
               aria-label="Recipient's username" aria-describedby="basic-addon2">

        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Поиск</button>
        </div>
    </form>
</div>

<div class="container-fluid mt-5" >
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название книги</th>
                <th>Автор</th>
                <th>ISBN</th>
                <th>Год выпуска</th>
                <th>Прочитано</th>
                <th>Описание книги</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.getId()}"></td>
                <td th:text="${book.getTitle()}"></td>
                <td th:text="${book.getAuthor()}"></td>
                <td th:text="${book.getIsbn()}"></td>
                <td th:text="${book.getPrint_year()}"></td>
                <td th:text="${book.isRead_already()}"></td>
                <td th:text="${book.getDescription()}"></td>
            </tr>
        </tbody>
    </table>
</div>
<hr/>

<ul class="nav nav-pills pagination" th:method="get">
    <li  class="nav-item" th:each="i : ${#numbers.sequence(1,maxPage+1)}">
        <a th:text = "${i}" class="nav-link" name="page" th:href="'?page='+(${i}-1)"></a>
    </li>
</ul>

   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous">
    </script>

<!--<script src = "webjars/jquery/3.0.0/jquery.js"></script>-->

</body>
</html>
